<div class="flex flex-col min-h-full w-full">
    {{> headers/header logged_in=logged_in}}
    <div class="flex flex-col flex-grow justify-center md:justify-center items-center">
        {{> @partial-block }}
    </div>
    {{> footers/footer}}
</div>