<a href="{{baseUrl href}}" class="bg-black/20 hover:bg-black/10 px-2 py-1 gap-1
            rounded flex flex-row items-center justify-center">
    {{> @partial-block }}
    <h1 class="text-white sm:hidden font-bold text-xl leading-none">
        {{text}}
    </h1>
</a>
