<div class="{{bg}} flex flex-col rounded p-2">
    <label for="language" class="pl-1 pb-1 text-white font-bold">Language</label>
    <select class="{{bg}} rounded w-full text-black font-bold px-3 py-1.5 cursor-pointer" name="language" id="language">
        <option value="javascript">JavaScript</option>
        <option value="python" >Python</option>
        <option value="java">Java</option>
        <option value="c#">C#</option>
        <option value="c++">C++</option>
        <option value="c">C</option>
        <option value="kotlin">Kotlin</option>
        <option value="swift">Swift</option>
        <option value="typescript">TypeScript</option>
    </select>
</div>
